<div class="news-widthlimit">
    <div class="news">
        <div class="news-photo">
            <img src="http://www.asetar08.org:8080#photo"></img>
        </div>
        <br>
        <div class="news-info">
            <div class="news-titre">
                <h2>#titre</h2>
            </div>
            <br>
            <div class="news-contenu">
                <p>#contenu</p>
            </div>
            <br>
            <div class="news-date">
                <p>#date</p>
            </div>
        </div>
    </div>
</div>