<main>

    <div class ="Sidebar">
     <div class="Titre-Boutique">
       <div class="Sidebar-titre"> Boutique Asetar08</div>
         <i class='fa fa-shopping-basket'></i>
     </div>

      <div class="Récap-panier">
          %panier%
      </div>

        <a class="Bouton-panier" href="panier.php">Panier</a>
     </div>

    <div class="Tableau-article">
        <div class="conteneur"> %article% </div>
    </div>
</main>
