
<div class="item">
    <div class="Article-mise-en-page">
        <div class="Image_article"><img class="article-image" src="http://www.asetar08.org:8080%image%" max-width:"100%" ></div>
        <div class="description">%description%</div>
        <div class="Bas_darticle">
        <div class="Prix">%Prix% </div>
          <form action="boutique.php" method="post">
              <input  type="hidden" name="add" value="%id_article%">
              <button input type="submit" class="Bouton-achat">Ajouté</button>
          </form>
        </div>
    </div>
</div>
