<h1>Liste des utilisateur :</h1>
<table>
    <th>
        <td>ID:</td>
        <td>Adresse Email:</td>
        <td>Nom:</td>
        <td>Prenom :</td>
        <td>Numero_tel</td>
        <td>Grade :</td>
    </th>
    %liste_utilisateur%
</table>