<main>
    <table>
        <tr><td>Panier = </td></tr>
        %article%
        <tr><td>Prix total = %prix_tot%</td></tr>
    </table>
    <br><br><br><br>
    <div class="name">
        Payement :
    </div>
    <div class="btn">
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" name="frmPayPal1">
            <input type="hidden" name="business" value="sb-eivtb14675717@business.example.com">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="item_name" value="Payment">
            <input type="hidden" name="item_number" value="1">
            <input type="hidden" name="credits" value="510">
            <input type="hidden" name="userid" value="1">
            <input type="hidden" name="amount" value="%prix_tot%">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="handling" value="0">
            <input type="hidden" name="cancel_return" value="http://localhost/php-paypal/cancel.php">
            <input type="hidden" name="return" value="http://localhost/php-paypal/success.php?tx=83437E384950D&st=Completed&amt=90.00&cc=USD&cm=&item_number=1">
            <input type="image" src="https://www.sandbox.paypal.com/fr_FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - Le moyen le plus sûr et le plus simple de payer en ligne !">
            <img alt=" PayPal - The safer, easier way to pay online!" border="0" src="https://www.sandbox.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    </div>
</main>