body
{
    background-color: #f6f6f6;
    margin: 0;
}

.news-widthlimit {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
    height: auto;
}

.news {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-shadow: 0px 3px 10px rgba(175, 175, 175, 0.5);
    width: 100%;
    max-width: 800px;
    font-family: "Proxima Nova", Helvetica, Arial, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #403f4c;
    background-color: white;
}

.news-photo img{
    width: 100%;
    height: 100%;
}

.news-info {
    padding: 10px 20px;
}

.news-titre{
    text-align: center;
    margin-top: 10px;
}

.news-date{
    font-weight: bold;
    font-style: italic;
}