.bar_forum:not(.button_nouveau_sujet){
    font-family: "Proxima Nova", Helvetica, Arial, Tahoma, sans-serif;
    background-color: dimgrey;
    padding: 1.5em;
    margin-left: 19.8em;
    margin-right: 19.8em;
    margin-top: .5em;
}

.bar_forum div{
    float: left;
    position: relative;
    top: -0.5em;
    font-size: 1.0625em;
    color: white    ;
}

.sujet_forum_entete{
    left: -4em;
}

.auteur_forum_entete{
    left: 39em;
}

.nb_message_forum_entete{
    left: 47em;
}

.date_forum_entete{
    left: 55em;
}

.forum{
    font-family: "Proxima Nova", Helvetica, Arial, Tahoma, sans-serif;
    background-color: #dadada;
    border-bottom:  dimgrey solid;
    padding: 1.5em;
    margin-left: 19.8em;
    margin-right: 19.8em;
}

.forum div{
    float: left;
    position: relative;
    top: -0.5em;
    font-size: 1.0625em;
    color: black;
    border: lightcoral solid;
}

.forum div a{
    color: black;
    text-decoration: none;
}

.sujet_forum{
    left: 2em;
    width: 38.1em;
}

.auteur_forum{
    left: 5.7em;
    max-width: 10em;
}

.nb_message_forum{
    left: 2em;
    max-width: 10em;
}

.date_forum{
    left: 26.1em;
    max-width: 10em;
}

.button_nouveau_sujet{
    background-color: red;
    border: none;
    color: white;
    padding: 1.5em;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    right: 12em;
}


