
footer{
    background-color: dimgray;
    padding: 1em 1em;
}


footer div.gauche{
    position: relative;
    display: block;
    vertical-align: top;
    text-align: left;
    top: 1em;
    max-width: 40em;
}
footer div.centre{
    position: relative;
    display: block;
    vertical-align: top;
    right: 2em;
    bottom: 5em;
}
footer div.droite{
    position: relative;
    display: block;
    vertical-align: top;
    text-align: left;
    bottom: 5em;
    margin:0 10px;
    max-width: 20em;

}

.langue{
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    font-size: 15px;
    border-radius: 10px;
    left: 80em;
    bottom: 27em;

}

.footer-entier ul {
    padding:0.1em;
    list-style:none;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size:1em;
    line-height:1.6;
}


.footer-entier li {
    padding:0 0.625em;
    color: black;
    margin-bottom: 1em;
}

div.top a.col2{
margin-left: 5em;

}
div.top a.col3{
    margin-left: 1.55em;

}

div.top{
    margin-bottom: 5em;

}

.footer-entier ul a {
    position: relative;
    color: white;
    text-decoration:none;
    opacity:0.8;
    padding: 0.1em 0.35em;
    border-radius: 10px;
    margin-bottom: 10em;
    z-index: 9999;
}

.footer-entier ul a:hover {
    transition: 0.2s ease-in-out;
    opacity:1;
    color: white;
    background-color: #767676;
    color: white;
    box-shadow: 10px 10px 50px rgba(175, 175, 175, 0.9);
}

.footer-entier .social {
    position: relative;
    text-align:center;
    padding-bottom:25px;
    bottom: 5em;
    z-index: 1 ;
}

.footer-entier .social > a {
    font-size:24px;
    width:50px;
    height:50px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 10px;
    color:inherit;
    opacity:0.75;
}

.footer-entier .social > a:hover {
    opacity:2;
    box-shadow: 0px 3px 10px rgba(175, 175, 175, 0.5);
    transition: 0.15s ease-in-out;
}

.footer-entier .copyright {
    position: relative;
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: #f2f2f2;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-bottom:0;
    bottom: 5em;
}
div.about{
    position: relative;
    left: 63em;
    bottom: 11em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

div.about p{
    color: white;
    font-weight: bolder;
}

div.about dl{
    color: lightgrey;
    font-style: italic;
}

.footer-entier .follow{
    position: relative;
    text-align:center;
    font-size:1.8em;
    color: #f2f2f2;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-bottom:0;
    bottom: 3.7em;

}
div.top a.col2 {
    margin-left: 5em;
}

div.centre .line1{
    position: relative;
    opacity: .5;
    --tw-border-opacity: 1;
    border-color: rgba(178,178,178,var(--tw-border-opacity));
    width:200px;
    left: 37.3em;
    bottom: 6em;
}
div.centre .line2{
    position: relative;
    opacity: .5;
    --tw-border-opacity: 1;
    border-color: rgba(178,178,178,var(--tw-border-opacity));
    width:200px;
    left: 37.3em;
    bottom: 5em;
}
.titre-follow{
    margin-bottom: 2em;
}
