main
{
    background: url("<?php echo $domaine;?>/immage/Montagne.jpg") center;
    background-repeat : no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: columns;
    align-items: center;
    height: 100vh;
}
div.Page
{
    display: table;
    background-color: #fff;
    padding: 3em 5em;
    border-radius: 1em;
    margin: 0 auto;
    box-shadow: 0em 3em 10em rgba(175, 175, 175, 0.5);
}


div input.Envoyer

{
    font-size: 1.02em;
    margin-top: 1em;
    margin-left: 8.5em;
    border-style: inherit;
    background-color: cornflowerblue;
    color: #f2f2f2;
    padding: 1em 3em;
    border-radius: 1em;

}

div input.Envoyer:hover

{
    border-width: thin;
    border-color: lightsteelblue;
    border-style: solid;
    background-color: lightsteelblue;
    color: #f2f2f2;
    transition: 0.2s ease-in-out;
}


input.ecrire

{
    font-size: 0.938em;
    margin: 0 auto;
    border: none;
    margin-bottom: 0.5em;
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    background-color:#f2f2f2;
    position: relative;
    text-align: center;
    border-radius: 0.25em;
}

input.ecrire:hover

{
    border-color: black;
    background-color: #d3d3d3;
    border-width: 1em;
}

div.Titre

{
    flex: auto;
    position: absolute;
    background-color: cornflowerblue;
    padding: 0.75em 2.3em;
    color: white;
    margin-bottom: 14em;
    text-align: center;
    font-style: unset;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    line-height: 0.75em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

div.saisir

{

    color: darkslategray;
    margin-bottom: 3em;
    font-style: revert;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 100em;
    line-height: 30em;
    margin-left: 0em;
}

div.infomdp

{
    padding: 0.25em;
    margin: 0 auto;
    margin-bottom: 0.25em;
    text-align: left;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5em;
    max-width: 8.75em;
}

div.info

{
    padding: 0.188em;
    margin-left: 0.313em;
    margin-bottom: 0.375em;
    text-align: left;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.6em;
    max-width: 8em;
}

div.corps table
{
    margin: 0 auto;

}

div.corps td,tr
{

    margin: 0 auto;
    text-align: right;

}


.tab1, .tab2, .tab3
{

    margin-top: 3em;
    border-style: solid;
    padding: 2.188em 0.625em;
    border-radius: 0.313em;
    border-color: lightgrey;
}
.output {
    font: 1rem 'Fira Sans', sans-serif;
}
p, dl {
    font-weight: bold;
}


