*
{
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: dimgrey;
    font-family: Futura, sans-serif;
    margin: 0;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.0625em;
    opacity: 1;
    transition: 0.3s;
}

.navbar a:hover {opacity: .6}

.navbar a.accueil {
    background-color: cornflowerblue;
}

.button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    float: right;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}

.navbar a.button{
    float: right;
}

.button:hover {opacity: .6}

.logo {
    margin: 0 auto;
    width: 100px;
}